<div class="homepage">
    <div class="homepageStyle">
        <div class="player1">
            <app-player [player]="player" [steamid]="'268590680'"></app-player>
        </div>
        <div class="player1">
            <app-player [player]="player" [steamid]="'71981751'"></app-player>
        </div>
        <div class="player1">
            <app-player [player]="player" [steamid]="'66914827'"></app-player>
        </div>
        <div class="player1">
            <app-player [player]="player" [steamid]="'174011516'"></app-player>
        </div>
        <div class="player1">
            <app-player [player]="player" [steamid]="'179439468'"></app-player>
        </div>
        <div class="player1">
            <app-splayer [splayer]="splayer" [steamid]="'66914827'"></app-splayer>
        </div>
        <div class="player1">
            <app-player-matches [match]="match" [steamid]="'268590680'"></app-player-matches>
        </div>
        <div class="player1">
            <app-hero [heroId]="135"></app-hero>
        </div>
    </div>